<div class="start">
  <img src="<%= Routes.static_path(@socket, "/images/learning.svg") %>" alt="Learning Image">
  <div class="info">
    <h1>
      Learning with amazing tutorials
    </h1>
    <p>Click on the button bellow to start learning with amazing contents. All the contents is organized and filtered to
      improve your skills.</p>
  </div>

  <button>Start Learning</button>
</div>
